<img src="images/Picture0.png" width=200x />

# Notebook 04 - Input and Output

## Instructions
Read the material below and complete the exercises. The data used in the exercises can be found within the data folder in the INMAS directory.

Material covered in this notebook:
- How to open and close a file
- How to read lines from a text file
- How to write text to a file


### Credits
- [Scientific Python Lectures](https://github.com/jrjohansson/scientific-python-lectures/blob/master/Lecture-2-Numpy.ipynb)
- [Reading Files Python](https://colab.research.google.com/github/computationalcore/introduction-to-python/blob/master/notebooks/4-files/PY0101EN-4-1-ReadFile.ipynb#scrollTo=f2BMjBjox2_-)

## Reading files

The most common way to access a file in Python is to use the built-in <code>open</code> function.

- [`open()`](https://docs.python.org/3/library/functions.html#open) : returns a file object.
- It commonly takes two arguments: `open(filename, mode)`
  - filename : name of the file you want to open
  - mode (optional)
    - `'r'` : reading only (default)
    - `'w'` : writing only (an existing file with the same name will be erased)
    - `'a'` : (any data written to the file is automatically added to the end) 
    - `'r+'`: both reading and writing. 

- `read()` : reads the specified number of bytes from the file. Default is -1 which means the whole file.
- `readline()` : reads line by line


The first parameter you need is the file path and the file name. An example is shown as follow:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/ReadOpen.png" width="500" />

Depending on your operating system your file path can be different (the README file associated with this Workshop contains a more in detail explanation). The data is located in the `data` folder inside the folder where you saved the notebooks. To access files in this folder you could include the relative path in the `file_name` variable as below:

In [1]:
file_name= "data/sample.txt"
f = open(file_name, 'r')
print(f.read()) #default = -1 => read whole lines.
f.close() # It's important to close the file! It will free up the resources that were tied with the file.

Hello World!
Welcome to the Inmas Python workshop.

### Exercise

Open the file again, and this time, use the absolute path, i.e., the one starting with the root directory ('/'). Then print the first seven characters of the file. Don't forget to close the file.

In [4]:
file_name = "C:/Users/bingy/Documents/GitHub/Workshop-01/data/sample.txt"
f=open(file_name,'r')
s = f.read()
print(s)
f.close()

Hello World!
Welcome to the Inmas Python workshop.

## A better way to open a file
Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object. 

- `With` statement
    - better syntax and exceptions handling.
    - no need to explicitly call the close() method. It is done internally.

The steps are summarized in the image below:


<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/ReadWith.png" width="500" />

In [10]:
# Read file using read()
with open(file_name, 'r') as f:
    content = f.read()
    print(content)

Hello World!
Welcome to the Inmas Python workshop.

In [13]:
# Read file using readline()
with open(file_name, 'r') as f:
    line = f.readline()
    while line:
        print(line, end='')
        line = f.readline()

Hello World!
Welcome to the Inmas Python workshop.

## Working with CSV files in Python

There are multiple ways in which we can open and see CSV files in Python. Below are some examples.

### CSV module
While we could use the built-in `open()` function to work with CSV files in Python, there is a dedicated `csv` module that makes working with CSV files much easier.

Before we can use the methods to the `csv` module, we need to import the module first using:

In [14]:
import csv

To read a CSV file in Python, we can use the `csv.reader()` function. Let's open the csv file named `people.csv`.

In [18]:
people= "data/people.csv"
with open(people, 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['SN', ' Name', ' City']
['1', ' Michael', ' New Jersey']
['2', ' Jack', ' California']

Note that if you open the *people.csv* file in a text editor everything is separated by commas. This is called a delimiter. Suppose our CSV file was using tab as a delimiter. To read such files, we can pass optional parameters to the `csv.reader()` function.

### Exercise

Open the *biostats.csv* file using the argument `delimiter= "\t"` in the `csv.reader()` function.

In [27]:
bio = 'data/biostats.csv'
with open(bio,'r') as file:
    reader = csv.reader(file,delimiter = '\t')
    for row in reader:
        print(row)

['Name', 'Sex', 'Age', 'Height (in)', 'Weight (lbs)']
['Alex', 'M', '41', '74', '170']
['Bert', 'M', '42', '68', '166']
['Carl', 'M', '32', '70', '155']
['Dave', 'M', '39', '72', '167']
['Elly', 'F', '30', '66', '124']
['Fran', 'F', '33', '66', '115']
['Gwen', 'F', '26', '64', '121']
['Hank', 'M', '30', '71', '158']
['Ivan', 'M', '53', '72', '175']
['Jake', 'M', '32', '69', '143']
['Kate', 'F', '47', '69', '139']
[]

### Using the Pandas library to Handle CSV files


Pandas is a popular data science library in Python for data manipulation and analysis. If we are working with huge chunks of data, it's better to use pandas to handle CSV files for ease and efficiency.

In [22]:
import pandas as pd

To read the CSV file using pandas, we can use the `read_csv()` function.

In [23]:
pd.read_csv(people)

   SN      Name         City
0   1   Michael   New Jersey
1   2      Jack   California

### Exercise

Open the *biostats.csv* file using pandas. What happens? How do you fix it?

In [28]:
pd.read_csv(bio,delimiter ='\t')

    Name Sex  Age  Height (in)  Weight (lbs)
0   Alex   M   41           74           170
1   Bert   M   42           68           166
2   Carl   M   32           70           155
3   Dave   M   39           72           167
4   Elly   F   30           66           124
5   Fran   F   33           66           115
6   Gwen   F   26           64           121
7   Hank   M   30           71           158
8   Ivan   M   53           72           175
9   Jake   M   32           69           143
10  Kate   F   47           69           139

<hr>
<font face="verdana" style="font-size:30px" color="blue">---------- Optional Advanced Material ----------</font>

If you have lots of experience with Python, then you may be more interested in exploring the exercises on writing files listed below. (And if you are just starting with Python, consider this a references for advanced techniques you may want to use in the future).

## Writing Method

- `write()` :  writes a string to a text file.
- `writelines()` : write a list of strings to a file at once.

### Exercise

Create an empty text file called sample2.txt within the data folder and then run the code below.

In [ ]:
# Writing file using write()
lines = ['Hello', 'World!']

with open("data/sample2.txt", 'w') as f:
    for line in lines:
        f.write(line)
        f.write('\n')

### Exercise

Open sample2.txt to see what the code above did.

An example of writing in a file using `writeline()`:

In [ ]:

lines2 = ['Inmas', 'Python Workshop.']

with open("data/sample2.txt", 'w') as f:
    f.writelines(lines2)

### Exercise

Read the file `sample.txt` and write the object to a new file using `with` statement.

## Removing Files
If you want to remove the files we just created, run the code below.

In [ ]:
import os

In [ ]:
os.path

In [ ]:
for myfile in ["data/sample2.txt"]:
    if os.path.isfile(myfile):
        os.remove(myfile)

In [ ]:
os.listdir("data/")