In [30]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [43]:
d = {'col1': [0, 2], 'col2': [3, 0]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     0     3
1     2     0

In [46]:
dflog = np.log(np.log(df))
mask = dflog.isnull().sum()==1
colmask = dflog.columns[mask]
dflog[colmask];

In [49]:
mask = (df.dtypes != 'object')
df['col1'];

In [26]:
a = 1 
def f():
    return a+1
b = f()
print(b)

2