gitpush

In [34]:
#best way to great a list of consecutive intergers
#is it 
list(range(1,13))
#or 
months = [i for i in range(1,13)]

In [25]:
print(*months)

1 2 3 4 5 6 7 8 9 10 11 12

In [26]:
months[-1:]+months[0:2]

[12, 1, 2]

In [27]:
refer = months
refer[0] = 'Jan'
print(months)

['Jan', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [28]:
refert = list(months)
refer[0] = 'Jan'
print(months)

['Jan', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [29]:
university_name = "university of Illinois"
unl = list(university_name)
print(unl)
unl[0]='U'
''.join(unl)

['u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y', ' ', 'o', 'f', ' ', 'I', 'l', 'l', 'i', 'n', 'o', 'i', 's']

'University of Illinois'

In [30]:
5 not in [1,3,4] # how much time it takes

True

In [32]:
if []:
    print('Yes')
else:
    print('No')

No

In [40]:
inverse_count = list(range(12,0,-1))
zip(months,inverse_count)

In [41]:
if type('') is str:
    print('Yeah')

Yeah

In [3]:
import math
help(math.acos)

Help on built-in function acos in module math:

acos(x, /)
    Return the arc cosine (measured in radians) of x.

    The result is between 0 and pi.

In [4]:
math.log(5,base=2)

TypeError: log() takes no keyword arguments